.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}
@media (max-width: 800px) {
    .carousel-inner {
        height: 200px;
    }
}
@media (min-width: 800px) {
    .carousel-inner {
        height: 344px;
    }
}
