.list-order-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.status-missing {
    color: orange;
    font-weight: bold;
}

.status-borrowing {
    color: blue;
    font-weight: bold;
}

.status-overdue {
    color: red;
    font-weight: bold;
}

.status-returned {
    color: green;
    font-weight: bold;
}
