$primary-color: #4880FF;
$error-color: red;
$background-color-btn-carousel:#F5F5F5;
$background-color-icon-action-hover-fill:#FFAD33;
$text-color: #333;
$border-color: #e0e0e0;
$star-color: #ffd700;
$quote-bg: #f8f9fa;
