.table-author{
    width: 100% !important;
    border-radius: 10px !important;
    .el-table .cell{
        text-align: left;
        text-wrap: wrap;
    }
}
.author-form-item{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    .el-form-item__label-wrap{
        margin-left:0 !important;
    }
    .el-form-item__content{
        margin-left: 0 !important;
    }
    .author-form-item__description{
        .el-textarea__inner{
            height: 100px;
        }
    }
    .author-form-button__submit{
        width: 300px;
        margin: 0 auto;
    }  
    .el-table__header{
        .el-table__cell{
            text-align: center;
        }
    }
}
.list-author-container{
    .el-table_1_column_3.el-table-fixed-column--left.is-last-column.is-leaf.el-table__cell{
        .cell{
            text-align: center;
        }
    }
}

