.order-management-search{
    .el-form-item__content{
        .el-input.el-input--prefix.el-input--suffix.el-date-editor.el-date-editor--date.el-tooltip__trigger.el-tooltip__trigger{
            width: 100%;
        }
    }
}
.table-order{
    width: 100% !important;
    border-radius: 10px !important;
}
