.list-user-container {
    .el-table .cell {
        text-align: left;
    }
    .el-table_1_column_5.el-table__cell{
        .cell{
            text-align: left;
        }
    }
    .table-user{
        width: 100%;
        border-radius: 10px;

    }
}
