$primary-color: #FF4500C7;
$text-color-white: #FAFAFA;
$text-color-grown: #F5F5F5;
$text-color-black: #000000;
$color-red: #DB4444;
$line-color-orange:#FF4500C7;
$background-color-input:#F5F5F5;
$border-color:#0000004D;
$color-grown-bold: rgba(0, 0, 0, 0.303);
