.register-form {
    .el-input__wrapper {
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .el-input__inner {
        width: 100% !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        background-color: transparent !important;
    }
    .el-textarea__inner {
        width: 100% !important;
        height: 100% !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        background-color: transparent !important;
    }
    .el-form-item {
        width: 100% !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        background-color: transparent !important;
    }
    .el-form-item__content {
        width: 100% !important;
        height: 100% !important;
        border: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        background-color: transparent !important;
    }
}