.search-form-container {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    overflow: hidden;
    .search-form {
        display: flex;
        gap: 10px;
        .search-button {
            width: 100%;
        }
        .el-form-item {
            margin-bottom: 0 !important;
        }
    }
}
